header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e5e5;
}
.menu {
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 98px;
    
    
}


.menu__search-basket {
width: 20px;
height: 18px;
}
.menu__basket {
    margin-right: 28px;
    margin-left: 35px;
}
a {
    text-decoration: none;
    color: #151c22;
    display: inline-block;
    }
.main-banner{
background-color: #F1F2F4; 
display: flex;
flex-direction: row;
justify-content: space-around;
}
.main-banner__description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

    
    

    
}
.main-banner__tagline {
    color: #727A82;
    font-family: "Work Sans";
    font-size: 18px;
}
.main-banner__title {
    font-size: 128px;
    font-family: "Anton";
    text-transform: uppercase;

}
.main-banner__button{
    background: #151C22;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Work Sans";
    width: 219px;
    height: 64px;
}
.main-banner__image{
    width: 490px;
    height: 577,33px;
    display: inline-block;
}