header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e5e5;
}
.menu {
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 98px;
    
    
}


}

.searchandbasket {
width: 20px;
height: 18px;
}
.basket {
    margin-right: 28px;
    margin-left: 35px;
}
a {
    text-decoration: none;
    color: #151c22;
    display: inline-block;
    }
.site-card{
background-color: #F1F2F4; 
display: flex;
flex-direction: row;
justify-content: space-around;
}
.site-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.site-card_photo{
    display: inline-block;
    

    
}
.site-card_tagline {
    color: #727A82;
    font-family: "Work Sans";
    font-size: 18px;
}
.site-card_text-logo {
    font-size: 128px;
    font-family: "Anton";
    text-transform: uppercase;

}
.site-card_button{
    background: #151C22;
    color: #FFFFFF;
    font-size: 16px;
    font-family: "Work Sans";
    width: 219px;
    height: 64px;
}
.site-card_photo_item{
    width: 490px;
    height: 577,33px;
}